<section id="hero-section" class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</section>
<script type="application/javascript">
  (function HERO_NAMESPACE() {
    
    function onAuthChanged(event) {
      const auth = event.detail;
      if (auth.loggedIn === true) {
        document.getElementById('hero-section').classList.add('hidden');
      } else {
        document.getElementById('hero-section').classList.remove('hidden');
      }
    }
  
    function onLoad() {
      listen('auth-changed', onAuthChanged);
    }
    
    entry(onLoad);
  })();
</script>