<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codehorn</title>

  <link href="bundle.css" rel="stylesheet">
  
  <!-- Import and configure the Firebase SDK -->
  <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
  <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
  <script defer src="/__/firebase/9.9.0/firebase-app-compat.js"></script>
  <script defer src="/__/firebase/9.9.0/firebase-auth-compat.js"></script>
  <script defer src="/__/firebase/9.9.0/firebase-firestore-compat.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  
  <script type="application/javascript">
    const module_callbacks = [];
    function entry(callback) {
      module_callbacks.push(callback);
    }

    function dispatch(name, data) {
      const event = new CustomEvent(name, { detail: data });
      return window.document.dispatchEvent(event);
    }

    function listen(name, callback) {
      return window.document.addEventListener(name, callback);
    }
  </script>
</head>

<body>
  {{> navbar}}

  {{> main}}
  
  {{> footer}}
</body>

</html>