@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    max-width: 100%;
}

main {
    background-color: #fafafa;
    width: 100%;
    max-width: 100%;
}

pre {
    overflow: auto;
}